{{ define "main" }}
  {{ partial "header.html" . }}
  <div class="py-16">
    <div class="mx-auto w-fit">
    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    <ul class="mb-2">
      {{ range first 6 $posts }}
        {{ $day := .Date.Day }}
        <li class="max-w-max flex">
          <span class="mr-2 shrink-0"
            >[{{ .Date.Format "02/01/2006" }}]</span
          >
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
    {{ if gt (len $posts) 6 }}
      <div class="flex flex-col items-end mt-4">
        {{ $img := resources.Get "images/dots.png" | fingerprint }}
        <a href="/posts/">
          <img src="{{ $img.RelPermalink }}" class="p-0 w-10" integrity="{{ $img.Data.Integrity }}" />
        </a>
      </div>
    {{ end }}
    </div>
  </div>
{{ end }}
