{{ define "main" }}
  <header class="pt-8">
    <div class="flex flex-col mx-auto items-center italic">
      <img src="{{ .Site.Params.logo }}" class="p-0 w-32" />
    </div>
  </header>
  <div class="pb-24 pt-8">
    <ul class="mb-2 mx-auto w-fit">
      {{ range .Site.RegularPages }}
        {{ $day := .Date.Day }}
        {{ $suffix := "th" }}
        {{ if or (eq $day 1) (eq $day 21) (eq $day 31) }}
          {{ $suffix = "st" }}
        {{ else if or (eq $day 2) (eq $day 22) }}
          {{ $suffix = "nd" }}
        {{ else if or (eq $day 3) (eq $day 23) }}
          {{ $suffix = "rd" }}
        {{ end }}
        <li class="max-w-max">
          <span class="mr-0"
            >{{ .Date.Format "Jan 2" }}{{ $suffix }},
            {{ .Date.Format "2006" }}</span
          >
          -
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
